In [1]:
print("HOPE AI")

HOPE AI

In [5]:
name=input("Enter your Institute name ? :")

Enter your Institute name ? :Hope AI

In [7]:
name1=input("Enter your name :")
age=int(input("Enter your age :"))
sname=input("Enter your school name :")
degree=input("Enter your degree :")

Enter your name :Karpagavalli
Enter your age :34
Enter your school name :KLU
Enter your degree :B.Tech

In [20]:
a=43
b=34
add=(a+b)
print("a=",a)
print("b=",b)
print("Add=",add)

a= 43
b= 34
Add= 77

In [22]:
a=43
b=34
sub=(a-b)
print("a=",a)
print("b=",b)
print("Sub=",sub)

a= 43
b= 34
Sub= 9

In [17]:
a=64
b=11
mul=a*b
print("a=",a)
print("b=",b)
print("Mul=",mul)

a= 64
b= 11
mul= 704

In [16]:
a=64
b=11
div=a/b
print("a=",a)
print("b=",b)
print("Float div=",div)

a= 64
b= 11
Float div= 5.818181818181818

In [23]:
a=76
b=31
floordiv=a//b
print("a=",a)
print("b=",b)
print("Floor Div=",floordiv)

a= 76
b= 31
Floor Div= 2

In [24]:
a=76
b=31
modulo=a%b
print("a=",a)
print("b=",b)
print("Modulo=",modulo)

a= 76
b= 31
Modulo= 14

In [26]:
a=4
b=4
power=a**b
print("a=",a)
print("b=",b)
print("Power=",power)

a= 4
b= 4
Power= 256