In [2]:
for num in range(0,20):
  print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
for num in range(10,20):
  print(num)

10
11
12
13
14
15
16
17
18
19

In [4]:
lists=[10,20,14,55,24,78,45]
print("Number of items in the list2 is:",len(lists))

Number of items in the list2 is: 7

In [13]:
str="Artificial Intelligence"
print(str)
for num in range(0,len(str)):
  print(str[num])

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [14]:
print("-Your Name-")
print("-Your age-")
print("-Your profession-")

-Your Name-
-Your age-
-Your profession-

In [18]:
Tuple1=(1,'welcome',2,'Hope')
print(Tuple1)

(1, 'welcome', 2, 'Hope')

In [17]:
Tuple1=(0,1,2,3)
Tuple2=('python','hope')
Tuple3=(Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'hope'))

In [33]:
lists2=[20,10,16,19,25,1,276,188]
print(lists2)
for num in lists2:
  if(num%2==1):
    print(num,"is odd")

[20, 10, 16, 19, 25, 1, 276, 188]
19 is odd
25 is odd
1 is odd

In [35]:
print(lists2)
for num in lists2:
  if(num%2==0):
    print(num,"is even")

[20, 10, 16, 19, 25, 1, 276, 188]
20 is even
10 is even
16 is even
276 is even
188 is even